@model User

@{
    ViewData["Title"] = "New User";
    var msg = ViewData["Message"];
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New User</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                @if (msg != null) {
                    <span class="text-danger">@msg</span>
                }
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>